

    .card{
        margin-bottom: 50px;
        margin-top: 50px;
        padding-bottom: 10px; 
    }

    .container {
        margin-bottom: 100px;
        background-color:rgb(226, 223, 219);
        background-image: url(img/this_is_top.png) repeat;
   }
